[submodule ".themes/Dracula"]
	path = .themes/Dracula
	url = https://github.com/dracula/gtk
[submodule ".config/ranger/plugins/ranger_devicons"]
	path = .config/ranger/plugins/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons.git
[submodule "vimwiki"]
	path = vimwiki
	url = git@gitlab.com:biehlerj/vimwiki.git
[submodule ".config/ranger/plugins/zoxide"]
	path = .config/ranger/plugins/zoxide
	url = git@github.com:jchook/ranger-zoxide.git
[submodule ".local/bin/secret-scripts"]
	path = .local/bin/secret-scripts
	url = git@gitlab.com:biehlerj/private-scripts.git
[submodule ".config/zathura/catppuccin"]
	path = .config/zathura/catppuccin
	url = https://github.com/catppuccin/zathura.git
[submodule ".config/btop/themes/catppuccin"]
	path = .config/btop/themes/catppuccin
	url = https://github.com/catppuccin/btop.git
[submodule ".config/cointop/colors"]
	path = .config/cointop/colors
	url = git@github.com:cointop-sh/colors.git
