[submodule "vimwiki"]
	path = vimwiki
	url = git@git.sr.ht:biehlerj/vimwiki
[submodule ".local/bin/secret-scripts"]
	path = .local/bin/secret-scripts
	url = git@git.sr.ht:biehlerj/private-scripts
[submodule ".config/zathura/catppuccin"]
	path = .config/zathura/catppuccin
	url = https://github.com/catppuccin/zathura.git
[submodule ".config/btop/themes/catppuccin"]
	path = .config/btop/themes/catppuccin
	url = https://github.com/catppuccin/btop.git
[submodule ".config/cointop/colors"]
	path = .config/cointop/colors
	url = git@github.com:cointop-sh/colors.git
