[submodule "vimwiki"]
	path = vimwiki
	url = git@github.com:biehlerj/vimwiki
	branch = master
[submodule ".local/bin/secret-scripts"]
	path = .local/bin/secret-scripts
	url = git@github.com:biehlerj/private-scripts
	branch = master
[submodule ".config/zathura/catppuccin"]
	path = .config/zathura/catppuccin
	url = https://github.com/catppuccin/zathura.git
	branch = main
[submodule ".config/btop/themes/catppuccin"]
	path = .config/btop/themes/catppuccin
	url = https://github.com/catppuccin/btop.git
	branch = main
[submodule ".config/cointop/colors"]
	path = .config/cointop/colors
	url = git@github.com:cointop-sh/colors.git
	branch = master
[submodule ".config/kitty/themes/catppuccin"]
	path = .config/kitty/themes/catppuccin
	url = https://github.com/catppuccin/kitty.git
	branch = main
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:biehlerj/nvim.git
	branch = master
[submodule ".config/zsh/plugins/fzf-tab"]
	path = .config/zsh/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab.git
